<div class="my-container">
<div class="card">
  <div class="card-header">
    <a href="/api/posts/{{id}}" class="card-text">{{title}}</a>
  </div>
  <div class="card-footer">
    <small class="text-muted">Created by: {{user.username}} on {{format_date created_at}}</small>
  </div>
</div>
</div>
