<article class="post">
    <div class="row">
        <a href="/api/posts/{{id}}" class="col-6">{{title}}</a>
        <div class="">Created by: {{user.username}} on {{format_date created_at}}</div>
    </div>
</article>