<div class="container">
  {{> post-edit post}}
  <div class="comments">
    {{#if post.comments}}
    <h3>Comments</h3>
    <div>
      {{#each post.comments}}
      <p>
        {{comment_text}}
        &mdash; {{user.username}}, {{format_date created_at}}
      </p>
    </div>
    {{/each}}
    
{{/if}}
{{#if my_status}}
    <div class="container">
      <form id="new-comment-form" class="card">
        <textarea name="comment-body" class="my-text-area" cols="10" rows="5"
          placeholder="Enter your comment"></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>

  </div>
</div>
<script src="/javascript/comment.js"></script>
{{/if}}
</div>
</div>